@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;400&family=Pangolin&display=swap');

html, body{
    font-family: 'Lexend', sans-serif !important;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #f76b61 white;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #f76b61;
    border-radius: 20px;
    border: 3px solid white;
  }